# Paths
DATA_DIR=./data
CHROMA_PERSIST_DIR=./data/chroma_db
PROCESSED_DATA_PATH=./data/processed_corpus.jsonl
CLUSTER_MODEL_PATH=./data/cluster_model.joblib

# Embedding model
EMBEDDING_MODEL=all-MiniLM-L6-v2
EMBEDDING_BATCH_SIZE=64

# Clustering
N_CLUSTERS=23

# Semantic Cache
CACHE_SIMILARITY_THRESHOLD=0.85

# API
API_HOST=0.0.0.0
API_PORT=8000